/*portfolio*/
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ccc;
}

* {
	box-sizing: border-box;
}

.container{
  background: #f6f6f6;
  padding: 50px;
  border-radius: 3px;
  margin-top: 20px;
}

app-range .slider {
  position: relative;
  z-index: 1;
  height: 5px;
  margin: 0 15px;
}
app-range .slider > .track{
position: absolute;
top:0;
right: 0;
left: 0;
bottom: 0;
z-index: 1;
border-radius: 5px;
background-color: #c6aee7;
}

app-range .slider > .range{
position: absolute;
top:0;
right: 25%;
left: 25%;
bottom: 0;
z-index: 2;
border-radius: 5px;
background-color: #6200ee;
}

app-range .slider .thumb {
position: absolute;
z-index: 3;
width: 20px;
height: 20px;
background-color: rgba(98, 0, 238, 0.3);
border-radius: 50%;
transition: background-color 0.3 ease;
}

app-range .slider .thumb.left {
  left:25%;
  transform: translate(-15px, -8px);
}

app-range .slider .thumb.right {
  right:25%;
  transform: translate(15px, -8px);
}

app-range .slider .thumb > tooltip {
  content: '';
  position: absolute;
  width:30px;
  height:30px;
  border-radius: 50%;
  top:-35px;
  left:-5px;
  background-color:#ccc;
  font-size: 10px;
  color:#000;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
}

app-range .slider .thumb > tooltip::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ccc transparent transparent transparent;
}

app-range input[type="range"] {
  position: absolute;
  pointer-events: none;
  z-index: 2;
  height: 5px;
  width: 100%;
  -webkit-appearance:none;
  -moz-appearance:none;
  margin: 0;
  opacity: 0;
}

app-range input[type="range"]::-webkit-slider-thumb{
width:20px;
height: 20px;
pointer-events: all;
border-radius: 0;
border: 0 none;
background-color: red;
-webkit-appearance:none;
}

app-range input[type="range"]::-moz-range-thumb{
  pointer-events: all;
  -moz-appearance:none;
}
app-range{
  min-width: 280px;
  display: inline-block;
  position: relative;
}
